.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
.inner-container {
  height: 300px;
  width: 450px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
}
.head {
  font-size: 35px;
}
.para1 {
  font-size: 20px;
  font-weight: 300px;
}
.para2 {
  font-size: 18px;
  color: #334155;
}
.button {
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 8px;
}
